<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="admin.css">
    <title>Admin Panel</title>
</head>

<body>
     <a href="../logout"><div id="log-out">Log out</div></a>
     <a href="../home"><div id="go-to-home">Home stranica</div></a>
    <h1>Adminski Panel</h1>


    <form action="../add/tekma" method="POST" id="forma-add-tekma">
        <input type="text" name="tim1" placeholder="tim1" required><br>
        <input type="text" name="tim2" placeholder="tim2" required><br>
        <input type="text" name="kvota" placeholder="kvota" required><br>
        <input type="text" name="liga" placeholder="liga" required><br>
        <input type="text" name="stek" placeholder="stek" required><br>
        <!-- <select name="game" id="game"><br>
            <option value="Draw">Draw</option>
            <option value="Over 0.5">Over 0.5</option>
            <option value="Under 0.5">Under 0.5</option>
            <option value="Over 1.5">Over 1.5</option>
            <option value="Under 1.5">Under 1.5</option>
        </select> -->
        <input type="text" name="game" placeholder="game" required>
        <br>
        <select name="sport" id="sport">
            <option value="tennis">tennis</option>
            <option value="soccer">soccer</option>
            <option value="basketball">basketball</option>
            <option value="other">other</option>
        </select><br>
        <label for="">Datum pocetka:</label>
        <input type="text" name="dateToStart" placeholder="2021-07-25 12:25:05" required minlength="19"
            maxlength="19"><br>
        <label for="">Datum Kraja</label>
        <input type="text" name="dateToEnd" placeholder="2021-07-25 07:00:00" required minlength="19"
            maxlength="19"><br>
        <br>
        <textarea id="desc" class="desc-text" cols="20" rows ="10" name="description" placeholder="description..."></textarea>
        <br>
        <button type="submit">Postavi Utakmicu</button>

    </form>
    <br>
    <table class="table-tekme" id="tabelaTekme">
        <% for(let i=0; i<tekme.length; i++){ %>

            <tr>
                <td>
                    <%= tekme[i].tim1 %>
                </td>
                <td>
                    <%= tekme[i].tim2%>
                </td>
                <td>
                    <%= tekme[i].kvota%>
                </td>
                <td>
                    <%= tekme[i].liga%>
                </td>
                <td>
                    <%= tekme[i].game%>
                </td>
                <td>
                    <form action="../delete/tekma" method="POST">
                        <button type="submit" name="id" value=<%=tekme[i].id %> >obrisi</button>
                    </form>
                </td>
            </tr>

            <% } %>
    </table>

    <br>
    <!-- adsfkjadls;fjdjasfkljasdfkljasdlfjasdfjadjlakjskasdkdfkldjasfl;adjsofirueotguerwotgudklsfjaskljadsfkljasadjladjsfkljaslfjdas -->

    <h2>Obrisane utakmice</h2>
  <p>  <%= removed_tekme.length %> </p>
    <% removed_tekme=removed_tekme.filter(el=>el.dalijeproslo == 'neodluceno') %>
        <table id="table-dalije-proslo">
            <% for(let i=0; i<removed_tekme.length; i++){ %>

                <tr>
                    <td>
                        <%= removed_tekme[i].removed_tim1 %>
                    </td>
                    <td>
                        <%= removed_tekme[i].removed_tim2 %>
                    </td>
                    <td>
                        <%= removed_tekme[i].removed_liga %>
                    </td>
                    <td>
                        <form action="../proslo" method="POST">
                            <button type="submit" name="id" value=<%= removed_tekme[i].id %> >Proslo</button>
                        </form>
                    </td>
                    <td>
                        <form action="../nije" method="POST">
                            <button type="submit" name="id" value=<%= removed_tekme[i].id %> >Nije</button>
                        </form>
                    </td>
                    <td>
                        <form action="../delete/removed" method="POST">
                            <button type="submit" name="id" value=<%= removed_tekme[i].id %> >Obrisi</button>
                        </form>
                    </td>
                </tr>

                <% } %>
        </table>



        <!-- dfsdfasdfs dasffffffffffffffffffffffffffffffffkjaskljdfaskljdhfadkjdhasfkljdhasfkjldasfkjadsfassdhfdkashfkjdhasfdjasfkljhafasfkljh -->
        <h3>unos novog usera</h3>

        <form action="../add/user" method="post">
            <input type="text" name="username" placeholder="username" required maxlength="10">
            <br>
            <input type="text" name="password" placeholder="password" required maxlength="12">
            <br>
            <input type="text" name="description" placeholder="opis" required>
            <br>
            <input class="check" type="checkbox" value="1" name="restricted">
            <br>
            <button type="submit">Dodaj novog Usera</button>
        </form>
        <br>
        <table id="table-users">
            <% for(let i=0;i<users.length;i++){ %>

                <tr>
                    <td>
                        username: <%= users[i].username %>
                    </td>
                    <td>
                        password: <%= users[i].password %>
                    </td>
                    <td>
                        Dodat: <%= users[i].createdAt.toString().split('GMT')[0] %>
                    </td>
                    <td>
                        <form action="../user/delete" method="POST">
                            <button value=<%=users[i].id %> name="id" type="submit" data-id=<%= users[i].id %>
                                    class="delete-button">Obrisi</button>
                        </form>
                    </td>
                </tr>



                <% } %>
        </table>


        <script src="./adminScript.js"></script>
</body>

</html>