
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="match.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
        <button class="btn">Back</button>
        <div class="wrapper">
            <span class=team><%= tekma.tim1 %></span>
            <span> - </span>
            <span class=team><%= tekma.tim2 %></span>
            <br>
            <br>
            <span class="text">League: </span>
            <span class="data"><%= tekma.liga %></span>
            <br>
            <span class="text">Start time: </span>
            <span class="data"><%= tekma.dateToStart %></span>
            <br>
            <span class="text">Game: </span>
            <span class="data"><%= tekma.game %></span>
            <br>
            <span class="text">Odd: </span>
            <span class="data"><%= tekma.kvota %></span>
            <br>
            <span class="text">Unit: </span>
            <span class="data"><%= tekma.stek %></span>
            <br>
            <br>
            <p class="text">Description:</p>
           
            <%
            
            if(tekma.description !== undefined){
            %>
            <p class="desc"><%= tekma.description %></p>
            
            <%}else{ %>
                
                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, iusto vero aperiam reiciendis laudantium possimus est sint omnis. Animi a deserunt assumenda. Quasi optio reiciendis consequuntur similique! Magni reiciendis perferendis natus, tempora aliquid porro assumenda quo cum eveniet expedita impedit exercitationem minus pariatur. Reiciendis voluptate dolore optio eius minima impedit natus explicabo quidem quo, dicta aliquid autem animi qui culpa quia praesentium itaque eum est quis ipsa! Ipsum quibusdam sapiente fuga facilis odio accusantium itaque distinctio, minus possimus dolor nisi eaque expedita et ex recusandae voluptas modi totam temporibus fugiat quos sit, sequi perspiciatis porro inventore? Ipsam inventore provident eum fugiat, quibusdam, iusto vel, reprehenderit debitis obcaecati at harum porro facere quisquam neque. Voluptas recusandae ut debitis aut, labore, aliquam quam perspiciatis repellat architecto eius libero maiores possimus neque provident velit fugit quis placeat ipsum ipsa hic. Voluptates facilis laborum voluptatibus atque ea vel, optio rem sit nihil dignissimos deleniti possimus, hic ipsum laudantium consectetur nulla, veniam natus quia recusandae maiores officiis et minus. Fugiat quae assumenda voluptate hic at ratione non velit debitis quibusdam inventore aut consequuntur, eaque illo numquam fugit nulla officiis ut quam beatae consectetur vero dignissimos corrupti totam! Earum aut, nemo possimus cum necessitatibus mollitia voluptatum eius! Architecto eaque ducimus illo, quasi eum dignissimos. Sequi nihil ipsam rem modi adipisci odio, corrupti tempore reiciendis maiores corporis consequatur dolore quae nobis iusto rerum saepe magni aperiam soluta accusantium pariatur molestias! Dolorem explicabo, beatae reprehenderit architecto facere quidem. Sunt maxime quos placeat perferendis eaque exercitationem facilis! Similique quam aliquam repellat adipisci excepturi deleniti placeat amet. Repudiandae explicabo eveniet dolore veniam laudantium! Maxime enim magnam explicabo? Numquam deserunt itaque eveniet esse assumenda. Aliquid quod aut itaque, est ut alias distinctio laboriosam repellat facilis in sit non, nisi incidunt nam sint? Hic illum nostrum in assumenda veniam magni eligendi porro ea quam cupiditate? Nostrum natus ullam molestiae deleniti! Quis maxime ipsam reiciendis ab dolorum nulla? Dolor iusto eveniet incidunt. Suscipit odit ipsa saepe, distinctio aut quisquam consectetur quod libero recusandae illum ea voluptatum eaque quis blanditiis eos sapiente, facere facilis nisi sed quo quibusdam amet. Accusamus animi necessitatibus, neque sapiente laboriosam quam nam autem labore corrupti quaerat quis deleniti ipsam tempora. Quibusdam modi provident, beatae cumque inventore assumenda eveniet, quia fugiat unde dolorum aperiam hic ipsum. Nihil odit quibusdam, quaerat quod laborum et consectetur blanditiis incidunt, soluta provident adipisci rem ipsum. Voluptas aliquam odio id sint saepe eligendi asperiores ipsam!</p>

                <% } %>
            </div>
    </body>
    
    </html>




<!-- 
<p><%= tekma._id %></p>
<p></p>
<p><%= tekma.tim2 %></p>
<p></p>
<p></p>
<p><%= tekma.stek %></p>
<p><%= tekma.game %></p>
<p></p>
<p><%= tekma.dateToEnd %></p> -->