<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One match</title>
</head>
<body>

    
<p><%= tekma._id %></p>
<p><%= tekma.tim1 %></p>
<p><%= tekma.tim2 %></p>
<p><%= tekma.kvota %></p>
<p><%= tekma.liga %></p>
<p><%= tekma.stek %></p>
<p><%= tekma.game %></p>
<p><%= tekma.dateToStart %></p>
<p><%= tekma.dateToEnd %></p>


</body>
</html>